<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to My Web App</h1>
    <!-- Formulaire pour soumettre des données -->
    <form action="/submit" method="POST">
      <input type="text" name="name" placeholder="Enter your name" required />
      <input
        type="email"
        name="email"
        placeholder="Enter your email"
        required
      />
      <button type="submit">Submit</button>
    </form>
    <a href="/dynamic">View Dynamic Page</a>
  </body>
</html>
